mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className alt=`${className}`)

mixin nav(obj)
  ul.nav__list
    each key, value in obj
      li.nav__item
        a(class="nav__link" href=`${key}`) #{value}

mixin social(obj)
  .social
    ul(class="social__list")
      each key, value in obj
        li(class="social__item")
          a(class="social__link" href=`${key}`)
            span.visually-hidden #{value}
            +icon(`${value}`, "social__svg")

mixin stack(arrStack)
  .stack
    h3(class="title stack__title")= arrStack[0].slice(0, 1).toUpperCase() + arrStack[0].slice(1)
    ul.stack__list
      each skill in arrStack.slice(1)
        li.stack__item
          span.stack__text #{skill}
          .stack__svg-block
            svg(class="stack__svg" viewBox="0 0 100 100")
              circle(cx="50" cy="50" r="40").stack__circle-lower
              circle(cx="50" cy="50" r="40" stroke="url(#skillsGrad)" transform="rotate(180 50 50)").stack__circle-upper
              linearGradient(id="skillsGrad" x1="0%" y1="0%" x2="100%" y2="0%")
                stop(offset="0%" stop-color="#9300e8")
                stop(offset="100%" stop-color="#4a00ed")

mixin directionArrow(directions)
  .controls
    ul.controls__list
      each direction in directions
        li.controls__item
          a(href="#").controls__link
            case direction
              when "up"
                +icon("arrow", `arrow__${direction}`)
              when "down"
                +icon("arrow", `arrow__${direction}`)
              when "left"
                +icon("arrow", `arrow__${direction}`)
              when "right"
                +icon("arrow", `arrow__${direction}`)
